* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-center {
  height: 200px;
  margin-top: 25px;
}

.alert {
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  text-transform: capitalize;
  height: 30px;
  width: 70vw;
  margin: auto;
  margin-top: 50px;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

.postcode-form {
  height: 200px;
}

.form-control {
  height: 200px;
}

#postcode {
  height: 30px;
  position: absolute;
  left: 8rem;
}

.submit-btn {
  height: 30px;
  padding: 2px;
  position: absolute;
  left: 19rem;
}

.hide-container {
  /* visibility: hidden; */
  display: none;
}

.alert-hidden {
  /* visibility: hidden; */
  display: none;
}

.alert-transform {
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  text-transform: capitalize;
  height: 30px;
  width: 70vw;
  margin: auto;
  margin-top: 50px;
}

.input-button-container {
  display: flex;
  justify-content: center;
  position: relative;
}

@media only screen and (min-width: 500px) {
  body {
    background-color: lightblue;
  }
}